<p id="notice"><%= notice %></p>

<%= image_tag @camp.image_url %>

<p>
  <strong>Name:</strong>
  <%= @camp.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @camp.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @camp.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @camp.website %>
</p>

<%= link_to 'Edit', edit_camp_path(@camp) %> |
<%= link_to 'Back', camps_path %>
